@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  scrollbar-color: unset;

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    z-index: 999;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(24 24 27 / 0.4);
  }

  ::-webkit-scrollbar-track {
    background: rgb(228 228 231);
  }
}

*:hover {
  scrollbar-color: unset;
}

html.dark {
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(24 24 27 / 0.8);
  }

  ::-webkit-scrollbar-track {
    background: rgb(39 39 42);
  }
}

body {
  font-family: "Microsoft YaHei UI Light", "msyhl", sans-serif, system-ui;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
